# Dependency directory
node_modules
# idea
.idea
# MacOs
.DS_Store
# Compiled binary
dist
# package-lock
package-lock.json
# Logs
logs
*.log
.docusaurus
.claude
# node-waf configuration
.lock-wscript
# Compiled binary addons (http://nodejs.org/api/addons.html)
build/
